[Desktop Entry]
Name=Bluetooth File Transfer
Comment=Send and receive files via Bluetooth
Exec=io.elementary.bluetooth
Icon=io.elementary.bluetooth
Type=Application
NoDisplay=true
Categories=System;
OnlyShowIn=Pantheon;
