[Desktop Entry]
Name=Bluetooth Daemon
Comment=Send and receive files via Bluetooth
Exec=io.elementary.bluetooth -s
Icon=io.elementary.bluetooth
Type=Application
NoDisplay=true
Categories=System;
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
OnlyShowIn=Pantheon;
